<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bullshit-o-meter</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../js/app.js"></script>
  </head>
  <body>
      <div class="container header-bg">

        <nav class="navbar" role="navigation">
          <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand navtext" href="/about">ABOUT</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                  <li><a class="navtext" href="/">HOME</a></li>
                  <li><a class="navtext" href="/newsorgs/new">CREATE</a></li>
                </ul>
              </div><!--/.nav-collapse -->
          </div>
        </nav>
      
        <div class="jumbotron">
          <div class="container">
            <h1>Bullshit-o-meter</h1>
            <h3>an independent platform that keeps news organizations accountable</h3>
          </div>
        </div>
      </div>

      <!-- BOOTSTRAP FORM -->
      <section id='neworg-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <h2>Add a News Organization</h2>
            <hr>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="url">Link</label>
              <div class="col-md-4">
              <input id="url" name="url" type="text" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="founder">Founder</label>
              <div class="col-md-4">
              <input id="founder" name="founder" type="text" class="form-control input-md">
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="summary">Summary</label>
              <div class="col-md-4">
                <textarea class="form-control" id="summary" name="summary"></textarea>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save News Organization</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
      </section>
      <!-- END OF BOOTSTRAP FORM -->


  </body>
</html>